body {
background-color: #f5da9f;
}


#instructions {
  border-bottom: solid grey;
  margin: 5px 10px;
  padding: 5px 0px;
}

#savedText {
  margin: 5px 10px;
  padding: 5px;
}

#editable {
  margin: 5px 10px;
  padding: 5px;
  background-color: white;
  border: blue solid
}
