body {
  background-color: #faefc9;
}

#bar {
  background: #e3e3e3;
  margin: 20px;
  width: 300px;
  height: 15px;
}

#dragBox {
  top: -3px;
  position: relative;
  width: 21px;
  height: 21px;
  background-color: blue;
  text-align: center;
}
