#modal-window {
  background-color: #cce5ff;
  width: 350px;
  margin: auto;
  padding: 20px;
  line-height: 3.5;
  display: none;
}

#text {
  text-align: center;
  font-weight: bolder;
  font-size: 10pt;
}

#close-button {
  width: 310px;
}
