 #outerBox {
  background-color: #ffe8d4;
  padding: 5px 15px;
}

 #trafficLights {
  border: solid 3px #757575;
  border-radius: 12px;
  display: inline-block;
  position: relative;
}


#red, #yellow, #green {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #808080;
  padding: 10px;
  margin: 10px  ;
  display: inline-block;
}

button {
  margin: 0 15px;
  padding: 0 15px;
  position: absolute;
  box-sizing: border-box;
  height: 150px;
  /* border: #757575; */
  border-radius: 12px;
}

#redOn {
  background-color: #ff1100;
}
